<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Friend #<%= @friend.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/friends" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_friend/<%= @friend.id %>" class="btn btn-block btn-outline-secondary">
          Delete friend
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Friender
      </dt>
      <dd>
        <%= @friend.friender_id %>
      </dd>

      <dt>
        Friendee
      </dt>
      <dd>
        <%= @friend.friendee_id %>
      </dd>

      <dt>
        Accepted
      </dt>
      <dd>
        <%= @friend.accepted %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@friend.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@friend.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit friend
    </h2>

    <form action="/modify_friend/<%= @friend.id %>"  method="post" >
      <div class="form-group">
        <label for="friender_id_box">
          Friender
        </label>

        <input type="text" id="friender_id_box" name="friender_id_from_query" class="form-control" value="<%= @friend.friender_id %>">
      </div>

      <div class="form-group">
        <label for="friendee_id_box">
          Friendee
        </label>

        <input type="text" id="friendee_id_box" name="friendee_id_from_query" class="form-control" value="<%= @friend.friendee_id %>">
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="accepted_box" name="accepted_from_query" value="1" <%= "checked" if @friend.accepted %>>

        <label class="custom-control-label"
          for="accepted_box">Accepted</label>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update friend
      </button>
    </form>
  </div>
</div>

<hr>
